{% extends "::layout.html.twig" %}

{% block content %}
<div id="js_contact" class="margin-top-150 subcontainer">
    <p>
        {{author}}<br />
        <a href="mailto:{{author_mail}}">{{author_mail}}</a>
    </p>
    <p>
        Follow me on Bitbucket<br />
        <a href="https://bitbucket.org/dwrzesien" target="_blank">https://bitbucket.org/dwrzesien</a>
    </p>
</div>
{% endblock %}