{% extends "::layout.html.twig" %}

{% block content %}
<div id="js_contact" class="margin-top-150 subcontainer">
    <p>
        Dariusz Wrzesień<br />
        <a href="mailto:dariuszwrzesien@gmail.com">dariuszwrzesien@gmail.com</a>
    </p>
</div>
{% endblock %}