{% extends "::layout.html.twig" %}

{% block content %}
<div id="js_contact" class="margin-top-150 subcontainer">
    <p>
        {{author}}<br />
        <a href="mailto:{{author_mail}}">{{author_mail}}</a>
    </p>
</div>
{% endblock %}