{% extends "::layout.html.twig" %}

{% block content %}
<div id="js_home" class="margin-top-75 subcontainer">
    <img src="{{ asset('img/words_desat.jpg')}}" alt="words words words">
</div>
{% endblock %}